.crop-container {
  width: 190.67px;
  height: 212.5px;
  overflow: hidden;
  position: relative;
}

.crop-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 626px;  
  height: 425px;
}

/* Riga 0 */
.part-0-0 img { left: -36px;        top: 0; }
.part-0-1 img { left: -213.67px; top: 0; }
.part-0-2 img { left: -381.34px; top: 0; }

/* Riga 1 */
.part-1-0 img { left: -36px;        top: -212.5px; }
.part-1-1 img { left: -213.67px; top: -212.5px; }
.part-1-2 img { left: -417.34px; top: -212.5px; }
